.imran{
    font-size: 32px;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}
p{
    color: blue;
    font-size: 20px;
    background-color: chartreuse;
    background-image: url(images/biriyani.jpg);
    text-align: justify;
    background-repeat: no-repeat;
}
